<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">
  <item label="Chrome">
    <action name="Execute">
      <command>google-chrome-stable</command>
    </action>
  </item>
  <menu id="Steam" label="Steam" execute="~/.config/openbox/steam_pipemenu.sh"/>
  <item label="Discord">
    <action name="Execute">
      <command>discord</command>
    </action>
  </item>
  <item label="Kitty">
    <action name="Execute">
      <command>kitty</command>
    </action>
  </item>
  <item label="VS Code">
    <action name="Execute">
      <command>code</command>
    </action>
  </item>
  <item label="Thunar">
    <action name="Execute">
      <command>thunar</command>
    </action>
  </item>
  <item label="Unreal Engine">
    <action name="Execute">
    <command>/home/matt/.unreal/Engine/Binaries/Linux/UnrealEditor</command>
    </action>
  </item>
  <separator />
  <item label="OBConf">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
